<div class="row well">
  <h6>
    <span class="italic">Posted at:</span> {{date}}
      by: <span class="italic">{{author}}</span>
  </h6>
  <br />
  <span class="italic"><h2>"{{question}}?"</h2></span>
  <br />
  <div class="section">
    DETAILS: {{description}}
  </div>
</div>

<h2>Answers:</h2>
<div class="row well">
  {{#if answeringQuestion}}
    <div class="answer-question-form-container">
      <form>
        <div class="row">
            <div class="col-sm-2 form-group">
              <label for="author">Your Name</label>
              {{input value=answerAuthor id="answerAuthor" class="form-control"}}
            </div>

            <div class="col-sm-8 form-group">
              <label for="answer">Your Answer</label>
              {{input value=answer id="answer" class="form-control"}}
            </div>

            <div class="col-sm-2 form-group">
              <label for="answer"></label><br>
              <button id="answer" class="btn btn-warning" {{action 'answerQuestion'}}>Answer!</button>
            </div>
        </div>
      </form>
    </div>
  {{else}}
    <button class="btn btn-primary" {{action 'showAnswerForm'}}>Answer This Question</button>
  {{/if}}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author</th><th>Answer</th><th>Posted</th><th></th>
        </tr>
      </thead>
      {{#each answer in answers}}
        {{log 'Answer is:' answer}}
        <tr>
          <td>
            {{answer.author}}
          </td>
          <td>
            {{answer.answer}}
          </td>
          <td>
            {{answer.date}}
          </td>
          <td>
            <span class="btn btn-danger">Delete</span>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>

</div>
