<div class="row well">
  <h1>{{question}}</h1>
  <h5>Posted on: {{date}} by: {{author}}</h5>
  <h3>Details:</h3>
  <div id="question-details-view">
    {{description}}
  </div>
</div>

<h1>Answers:</h1>
<div class="row well">
  {{#if answeringQuestion}}
    answer form
  {{else}}
    answer button
  {{/if}}


</div>
