<div class="row well">
  {{#if askingQuestion}}
    <div class="ask-question-form-container">
      <form>
        <div class="col-sm-3 form-group">
          <label for="author">Your Name</label>
          {{input value=author id="author" class="form-control"}}
        </div>

        <div class="col-sm-8 form-group">
          <label for="question">Your Question</label>
          {{input value=question id="question" class="form-control"}}
        </div>

        <div class="col-sm-1 form-group">
          <label for="ask"> </label>
          <button id="ask" class="btn btn-primary" {{action 'askQuestion'}}>Ask!</button>
        </div>
      </form>
    </div>
  {{else}}
    <button class="btn btn-primary" {{action 'showQuestionForm'}}>Ask A Question</button>
  {{/if}}
</div>

<div class="row well">
  Questions
</div>
